<link rel="stylesheet" href="css/style1.css">
{% block body%}
 
<p style="margin-left:17px;font-size: 19pt;font-family: serif;color: #505050;" >{{message}} </p><br>


<b>{{url}}</b> 
<label  style="margin-left:323px; font-size:20px;color:#15c;" > Se connecter</label>  
{% endblock %}