<link rel="stylesheet" href="css/style1.css">
{% block html %}
<div class="form-group" style="margin-left:150px;margin-top:30px;">
<label>{{nom}} ,</label>
<label>Nous vous rappelons  que votre retard dépasse</label> <label style="color:red;margin-top:-18px;">{{heurereard}} min</label> 
</div>
<b>{{url}}</b> 
<label  style="margin-left:323px; font-size:20px;color:#15c;" > Se connecter</label>
 
{% endblock %}    